<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	table{
		border:1px solid #000;
		border-collapse:collapse; 
		text-align:center;
	}
	th{
		border:1px solid #000;
		padding:10px;
		background:#81c5bc;
		text-align:center;
	}
	td{
		border:1px solid #000;
		padding:10px;
		text-align:center;
	}
</style>
</head>
<body>
	<select>
	</select>
	<button id="query">查詢</button>
	

	<div></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
<script type="text/javascript" src="../../uploadDone.js"></script>
</html>